* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

/* font-family: 'Caveat', cursive; -- Resultado
font-family: 'Francois One', sans-serif; -- Títulos
font-family: 'Inconsolata', monospace; -- Texto normal */

h1, h2, h3, h4 {
    font-family: 'Francois One', sans-serif;
    color: #F5F5F5;
}

p {
    font-family: 'Inconsolata', monospace;
    color: #F5F5F5;
}

header {
    padding: 0.5%;
    text-align: center;
    background-color: #171717;
}

header img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 80px;
}

header h2 {
    color: #F5F5F5;
}

body {
    background: #363636;
}

.initial-container {
    margin-top: 1%;
}

.initial-container h3 {
    font-family: initial;
    text-align: center;
    color: #171717;
}

.initial-container h4 {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    color: #dddddd;
}

.plato-phrase {
    margin-top: 1%;
}

.image {
    margin-top: 2%;
    width: 100%;
}

.introduction {
    margin-top: 2%;
    text-align: center;
}

.introduction p {
    margin-top: 0.5%;
    font-family: 'Inconsolata', monospace;
    color: #F5F5F5;
}

.dice-list-container {
    text-align: center;
}

.die-list {
    margin: 3% 10%;
    justify-content: space-evenly;
    display: flex;

    list-style: none;
}

.die {
    transition: 1s;
    padding: 1% 0.5%;
    width: 11%;
}

.die:hover {
    transform: scale(1.02);
    background-color: #313131;
    transition: 0.3s;
}

.die-item {
    margin: 4% 0;

}

.die img {
    width: 80%;
}

.die p {
    font-size: 14px;
}

.unselected-die {
    border: 2px solid #171717;
    background-color: #444444;
}

.selected-die {
	border: 2px solid #000;
	background-color: #171717;
}

.die-button {
    padding: 6% 20%;
    
    font-size: 1em;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;

    border: transparent solid;
    border-radius: 22px;

    background-color: #DA0037;
    color: #F5F5F5;

    transition: 0.5s;
}

.die-button:hover {
    background-color: #b4002d;
    cursor: pointer;
    transition: 0.5s;
}

.die-button:active {
    padding: 6% 18%;
}

.die-input {
    margin-top: 4%;
    padding: 6% 0;
    width: 65%;

    text-align: center;
    
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;

    border: transparent solid;
    border-radius: 22px;

    background-color: #DA0037;
    color: #F5F5F5;

    transition: 0.5s;

}

.die-input:focus {
    box-shadow: 0;
    outline: 0;
}

.die-input:hover {
    background-color: #b4002d;
    cursor: pointer;
    transition: 0.5s;
}

.die-input::placeholder {
    color: #F5F5F5;
    font-size: 1.2em;
}

.die-input:focus::placeholder {
    color: #808080;
}

/* 
O P T I O N S  S C R E E N
*/

.options-dice {
    text-align: center;
  
}

.options-dice h3 {
    margin: 4.5% 0;
    font-size: 16px;
}

.options-dice h3:not(h3:first-child, h3:last-child) {
    margin-top: 10%;
}

.options-dice p {
    font-size: 13px;
}

.amount-dice {
    width: 15%;
    display: inline;

    border: transparent solid;
    border-radius: 35%;

    text-align: right;

}

.amount-dice:focus {
    box-shadow: 0;
    outline: 0;
}

.amount-p {
    display: inline;
}

.dice-attributes {
    margin-bottom: 5%;
    padding: 2% 0;
}

.dice-attributes button, p {
    display: inline;
}

.dice-attributes button {
    width: 15%;
    min-width: 1%;
    
    border: transparent solid;
    border-radius: 50%;

    background-color: #DA0037;
    color: #F5F5F5;
}

.dice-attributes button:hover {
    background-color: #b4002d;
    cursor: pointer;
}

.dice-attributes button:active {
    background-color: #da1747;
}

.dice-attributes-btn {
    margin-right: 0.3%;
    width: 3%;
    height: 30px;
    font-family: 'Francois One', sans-serif;

    border: transparent solid;
    border-radius: 8px;
    
    background-color: #da0037;
    color: #F5F5F5;
}

.dice-attributes-btn:hover {
    background-color: #b4002d;
    cursor: pointer;
}

.dice-attributes-btn:active {
    background-color: #da1747;
}

.difficulty-button {
    margin-right: 0.3%;
    width: 31%;
    height: 26%;
    
    font-family: 'Francois One', sans-serif;

    border: transparent solid;
    border-radius: 8px;

    background-color: #DA0037;
    color: #F5F5F5;
}

.difficulty-button-enabled {
    background-color: #A8002A;
}

.roll-dice {
    margin-top: 5%;
    padding: 0.4% 1.2%;
    width: 90%;
    
    font-size: 1em;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;

    border: none;
    border-radius: 15px;

    background-color: #DA0037;
    color: #F5F5F5;

}

.difficulty-button:hover, .roll-dice:hover {
    background-color: #b4002d;
    cursor: pointer;
}

.footer {
    padding: 1%;
    text-align: center;
    background-color: #171717;

}